* {
    background-color: rgb(141, 12, 201);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 

.container {
    background: rgb(12, 212, 12);
    padding: 50px;
    width: 100%;
    text-align: center;
    transition: transform 0.2 ease-in-out;
    border-radius: 20px;
}

h1 {
    background-color: rgb(12, 212, 12);
    margin-bottom: 40px;
}

.input-container {
    display: flex;
    margin-bottom: 10px;
}

input {
    flex: 1;
    outline: none;
    padding: 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: 0.3s;
}

button {
    padding: 10px;
    transition: 0.3s;
    border-radius: 4px;
    font-size: 15px;
}

button:hover {
    background-color: blueviolet;
}

#taskList {
    display: flex;
    flex-direction: column;
}

.task {
    display: flex;
    transition: transform 0.2s;
    padding: 20px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

.task:hover {
    transform: scale(1.03);
}

.task button {
    background: black;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}