body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: rgba(141, 12, 201);
} 

.container {
    background: rgb(12, 212, 12);
    padding: 100px;
    width: 500%;
    text-align: center;
    transition: transform 0.2 ease-in-out;
    border-radius: 30px;
    max-width: 300px;
}

h1 {
    background-color: rgb(12, 212, 12);
    margin-bottom: 40px;
}

.input-container {
    display: flex;
    margin-bottom: 10px;
}

input {
    flex: 1;
    outline: none;
    padding: 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: 0.3s;
}

button {
    padding: 10px;
    transition: 0.3s;
    border-radius: 4px;
    font-size: 15px;
}

button:hover {
    background-color: rgb(190, 178, 201);
}

#taskList {
    display: flex;
    flex-direction: column;
}

.task {
    display: flex;
    transition: transform 0.2s;
    padding: 5px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

.task:hover {
    transform: scale(1.03);
}

.task button {
    background: rgb(221, 137, 224);
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="name"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}